<div>
  <h1>FAQ</h1>
  <h2>How do I play the game?</h2>
  <p>
    Firstly, click on the navigation button labeled "game". Nextly, choose the
    puzzle you would like to solve. Subsequently, click on one tile, then
    another to cause them to switch places. When the puzzle is solved your score is automatically submitted.
  </p>
  <h2>Why is my score not showing up in the leaderboard?</h2>
  <p>
    For your score to be saved you must be logged in when starting your attempt.
  </p>
  <h2>How do I log in then?</h2>
  <p>
    To log in you need an account first. If you already have an account you can
    simply enter your email and password on our login page.
    If the logout button in the upper left corner is visible youi are logged in.
  </p>
  <h2>ok, how do I get an account?</h2>
  <p>
    Seriously? Isn't this obvious? You fill out the signup form and click the submit button.
  </p>
  <h2>How is the score calculated?</h2>
  <p>
      Good question! The final score is 100 minus the amount of seconds it took to solve the puzzle.
  </p>
</div>
