<form
  [formGroup]="this.registrationForm"
  (ngSubmit)="this.registrationForm.valid && register()"
  class="registration-card"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
>
  <mat-card fxLayoutGap="5px" fxLayout="column" style="width: 30rem">
    <h2 style="color: black">SignUp</h2>
    <mat-form-field>
      <input
        formControlName="email"
        type="email"
        matInput
        placeholder="Email"
      />
      <mat-error>Email must be valid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        #pw
        matInput
        placeholder="Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error
        >Length of the password must be greater than 7 or smaller than
        16</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        #conPw
        matInput
        placeholder="Confirm Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error>Both password must be matched</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="name"
        matInput
        placeholder="Company"
        value="FH Technikum Wien"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Address"
        formControlName="address"
        style="margin-left: 5px"
      />
      <mat-error>Address field can't be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Code"
        formControlName="postCode"
      />
      <mat-error>Length of postal code must be 4.</mat-error>
    </mat-form-field>

    <div class="register-card-btn" fxLayoutGap="30px" fxLayoutAlign="end">
      <button type="submit" color="primary" mat-raised-button>register</button>
    </div>
  </mat-card>
  <!-- </mat-card> -->
</form>
