.login-card {
    width: 100%;
    height: 100%;
  }
  
  mat-card{
      height: 50vh;
      width: 30vw;
      background-color: rgb(168, 165, 159);
  }
  
  .main-card{
      height: 60vh;
      width: 40vw;
      background-color: white;
  }
  
  mat-form-field{
      background-color: rgb(168, 164, 164);
  }
  
  .login-card-btn{
      margin-top: 5px;
  }
  