<div class="main">
    <mat-card class="main-container">
        <mat-card class="header">
            <mat-card class="timer">
                <p>Time: {{time}} </p>
            </mat-card>
            <mat-card class="timer">
                <p>Score: {{score}}</p>
            </mat-card>
        </mat-card>
        <mat-card class="box">
                <img (click)="selectImage($event);" *ngFor="let cell of Cells" src={{cell.Image}} id={{cell.ID}}
                    [style.opacity]="cell.Opacity" alt="not Found exception">
        </mat-card>
    </mat-card>
</div>