<div class="main">
    <div class="main-container">
        <div class="header">
            <div class="timer">
                <p>Time: {{time}} </p>
            </div>
            <div class="tries">
                <p>Score: {{score}}</p>
            </div>
        </div>
        <div class="box">
            <img (click)="selectImage($event);" *ngFor="let cell of Cells" src= {{cell.Image}} id={{cell.ID}} [style.opacity]= "cell.Opacity" alt="not Found exception">
        </div>
    </div>
</div>